{{define "footer"}}
        
        <div class="mastfoot">
          <div class="inner">
            <h1 class="cover-heading">Asylum Wind Band</h1>
            <p class="lead">Please visit our Facebook site and see our Events</p>
            <p class="lead">
                 <a href="https://www.facebook.com/AsylumWindBand/">Facebook Asyslum Wind Page</a>
            </p>
          </div>
       </div>

                </div>

            </div>

        </div>

        <!-- Bootstrap core JavaScript
  ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="..js/vendor/jquery.min.js">
        </script>
        <script src="../js/vendor/jquery-1.12.4.min.js">
        </script>
        
        <script>
            window.jQuery || document.write('<script src="../js/vendor/jquery.min.js"><\/script>')
        </script>
        <script src="../js/vendor/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="../js/vendor/ie10-viewport-bug-workaround.js">
        </script>
        <!-- ================================================ -->
        <script type="text/javascript" src="../js/vendor/chat.js">
        </script>
        <script type="text/javascript" src="../js/vendor/jquery.min.js">
        </script>
    </body>

</html>

{{end}}
